<!DOCTYPE html>
<html>
<head>
    <title>Saved Data</title>
</head>
<body>
    <h2>Saved User Info:</h2>
    <!-- span for sameline, pre for breakline -->
     <p><strong>Name:</strong> <span id="name">No name found</span></p> 
     <p><strong>Role: </strong> <span id="Role"></span></p>
    <pre id="output">No data found.</pre>

    <script>
        var data = localStorage.getItem("UserInfo");
        if (data) {
            var userInfo = JSON.parse(data); //Seperating data

            var fullName = userInfo.firstName +" "+ userInfo.lastName;
            var Role = userInfo.role;//.role because of UserInfo.js
            document.getElementById("output").textContent = data;

            document.getElementById("name").textContent = fullName;
            document.getElementById("Role").textContent = Role;
            //                      span id               Variable name
        }
    </script>
</body>
</html>