<html>
<head>
    <title>@LabRes</title>
    <link rel="stylesheet" href="welcome.css">
    <style> 
      @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    </style>
</head>
<body>

<div class="parent">
    <div class="div1">
        <h1>@Lab Reservations</h1>
    </div>
    <div class="div2">
        <div class="video-wrap">
            <video class="bg-video" autoplay muted loop>
                <source src="Welcome.mp4" type="video/mp4">
            </video>

            <div class="overlay-box">
              <div class="overlay-text">
                <h1>Lab Reservation Made Easy!</h1>
                <div class="login-buttons">
                  <button class="btn btn-outline-primary" onclick="window.location.href='Login.html'">Log In</button>
                  <button class="btn btn-outline-secondary" onclick="window.location.href='Register.html'">Sign Up</button>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>