<div class="vertical-label">{{userRole}}</div>

<div class="header">
    <a href="/home?userId={{user._id}}" id="website_name">@LabRes</a>

    <button class="dropbtn" onclick="myFunction()">
        <img src="/user/{{user._id}}/image" alt="Profile Picture" class="profile-pic" onerror="this.onerror=null; this.src='/resources/profile_stock.png';">
    </button>

    <div class="profile-dropdown">
        <div class="dropdown-menu" id="dropdownMenu">
            <a id="profile-link">See User Profile</a>
            <a href="auth_ref/Welcome.html">Sign Out Account</a>
        </div>
    </div>

<form method="POST" class="search-form" action="/search-user">
  <input id="search-bar" name="full_name" type="text" placeholder="Enter full name">
  <button id="search-button" type="submit">
    <img src="/resources/search_icon.png" class="search-icon" />
  </button>
</form>

</div>

<script>
  const urlParams = new URLSearchParams(window.location.search);
  const userId = urlParams.get('userId');
  if (userId) {
    const profileLink = document.getElementById('profile-link');
    profileLink.href = `/prof_info?userId=${userId}`;
  }
</script>