<div class="vertical-label">{{userRole}}</div>

<div class="header">
    <a href="/home?userId={{user._id}}" id="website_name">@LabRes</a>

    <button class="dropbtn" onclick="myFunction()">
        <img src="/resources/profile_stock.png" class="profile-pic">
    </button>

    <div class="profile-dropdown">
        <div class="dropdown-menu" id="dropdownMenu">
            <a id="profile-link">See User Profile</a>
            <a href="/logout">Sign Out Account</a>
        </div>
    </div>

    <form class="search-form">
        <input id="search-bar" type="text" placeholder="">
        <button id="search-button" type="submit">
            <img src="/resources/search_icon.png" class="search-icon" />
        </button>
    </form>
</div>

<script>
  const urlParams = new URLSearchParams(window.location.search);
  const userId = urlParams.get('userId');
  if (userId) {
    const profileLink = document.getElementById('profile-link');
    profileLink.href = `/prof_info/${userId}`;
  }
</script>