<html>
    <head><title>Index Page</title></head>

    <body>
        <h1>Student</h1>
        <h3>Register, Welcome and Login pages</h3><br>
        <a href="/">Home Page</a>
        <br>
        <a href="..\STUDENT\authentication\Register.html">Sign Up page</a>
        <br>
        <a href="..\STUDENT\authentication\Login.html">Login page</a>
        <br>
        <h3>Reservation pages</h3><br>
        <a href="/laboratory">Lab 1</a><br>
        <a href="..\STUDENT\reservations\laboratory_2.html">Lab 2</a><br>
        <a href="..\STUDENT\reservations\laboratory_3.html">Lab 3</a><br>
        <a href="..\STUDENT\reservations\laboratory_4.html">Lab 4</a><br>
        <a href="..\STUDENT\reservations\laboratory_5.html">Lab 5</a><br>
        <a href="..\STUDENT\reservations\laboratory_6.html">Lab 6</a><br>
        <a href="/">Reservation homepage</a><br>
        <a href="/create">Create Reservations</a><br>
        <a href="/view">View Reservations</a><br>
        <h3>User Profile</h3><br>
        <a href="..\STUDENT\user-profile\edit-profile.html">Edit Profile</a><br>
        <a href="..\STUDENT\user-profile\profile-page.html">Profile page</a><br>

        <br><br>
        <h1>Lab Tech</h1>
        <h3>Register, Welcome and Login pages</h3><br>
        <a href="/">Home Page</a>
        <br>
        <a href="..\LABTECH\authentication\Register.html">Sign Up page</a>
        <br>
        <a href="..\LABTECH\authentication\Login.html">Login page</a>
        <br>
        <h3>Reservation pages</h3><br>
        <a href="..\LABTECH\reservations\laboratory_1.html">Lab 1</a><br>
        <a href="..\LABTECH\reservations\laboratory_2.html">Lab 2</a><br>
        <a href="..\LABTECH\reservations\laboratory_3.html">Lab 3</a><br>
        <a href="..\LABTECH\reservations\laboratory_4.html">Lab 4</a><br>
        <a href="..\LABTECH\reservations\laboratory_5.html">Lab 5</a><br>
        <a href="..\LABTECH\reservations\laboratory_6.html">Lab 6</a><br>
        <a href="/">Reservation homepage</a><br>
        <a href="/create">Create Reservations</a><br>
        <a href="/view">View Reservations</a><br>
        <h3>User Profile</h3><br>
        <a href="..\LABTECH\user-profile\edit-profile.html">Edit Profile</a><br>
        <a href="..\LABTECH\user-profile\profile-page.html">Profile page</a><br>
    </body>
</html>