
<div class="container">
  <div class="create_options">
    <a href="/prof_info">
      <div id="option_1">
        <p>< Return to User Profile</p>
      </div>
    </a>
  </div>

  <div class="profile-section">
    <div class="profile-info">
      <img src="{{profileImage}}" alt="Header Profile Picture" class="profile-pic">
      <button id="edit-pfp-button" class="button">Edit</button>

      <h1>{{fullName}}</h1>

      <div class="description-box">
        <p>{{description}}</p>
      </div>
    </div>

    <div class="manage-profile">
      <button id="delete-button" class="button">Delete Profile</button>
    </div>
  </div>
</div>
