@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
}

/* Reset and base styles */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(237, 237, 237);
}


 a {
    display: flex;
    text-decoration: none; 
    color: inherit;
    
} 

.container {

    display: flex;

    flex-direction: row;

    justify-content: center;
    align-items: center;

    gap: 20px;
}


.container div {

    display: flex;

    flex-direction: column;

    align-items: center;

    height: 225px;

    width: 250px;

    background-color: white;

    border: 1.5px solid black;

    border-radius: 10%;

}

.container img {

    height: 100px;

    width: 120px;

    pointer-events: none;
}

.container div:hover {

    color: white;

    background-color:steelblue;

}

.container a :hover img{

    filter: brightness(0) invert(1);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}






