<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>User Profile</title>
        <link rel="stylesheet" href="../reservations/navbar_template.css">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
    <div class="header">
        <a href="../reservations/reserve_home.html" id="website_name">@LabRes</a>

        <button class="dropbtn" onclick="myFunction()">
            <img src="../reservations/resources/profile_stock.png" class="profile-pic">
        </button>

        <div class="profile-dropdown">
            <div class="dropdown-menu" id="dropdownMenu">
                <a href="../authentication/Welcome.html">Sign Out Account</a>
            </div>
        </div>

        <form id="search" class="search-form">
            <input id="search-bar" type="text" placeholder="">
            <button id="search-button" type="submit">
                <img src="../reservations/resources/search_icon.png" class="search-icon"/>
            </button>
        </form>
    </div>

    <!-- MAIN CONTENT -->
    <div class="container">
        <div class="create_options">
            <a href="profile1.html">
                <div id="option_1">
                    <p>< Return to User Profile</p>
                </div>
            </a>
        </div>
        <div class="profile-section">
            <div class="profile-info">
                <img src="images/blank_pfp.png" alt="Header Profile Picture" class="profile-pic">
                <button id="edit-pfp-button" class="button">Edit</button>
                <h1>Rupert Tabilin</h1>
                <div class="description-box">
                    <p>Hello World! My name is Rupert. I love to do Web Development ♥️ </p>
                </div>
            </div>    
            <div class="manage-profile">
                <button id="delete-button" class="button">Delete Profile</button>
            </div>
        </div>
        <script src="profile.js"></script>
        <script>
            // Toggle dropdown
            function myFunction() {
                document.getElementById("dropdownMenu").classList.toggle("show");
            }

            // Close dropdown if clicked outside
            window.onclick = function(e) {
                if (!e.target.closest('.dropbtn') && !e.target.closest('.dropdown-menu')) {
                    document.getElementById("dropdownMenu").classList.remove("show");
                }
            }

            // Logout
            document.getElementById("clearRememberedBtn")?.addEventListener("click", () => {
                localStorage.removeItem("rememberedUser");
                console.log("Saved login info cleared.");
                window.location.href = "../authentication/Login.html";
            });
        </script>
    </body>
</html>